@import "../../node_modules/ol/ol.css";


html, body, #map-container {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background-color: #04041b;
}

#tools {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: #2c2c2cb3;
    padding-right: 0.5rem;
}

#tools a {
    display: inline-block;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
}

#tools p {
    margin-left: 0.5rem;
    color: rgb(209, 209, 209);
    font-style: oblique;
}

#tools label {
    margin-left: 0.5rem;
    color: rgb(209, 209, 209);
}

#tools input {
    cursor: grab;
}

#tools input:active {
    cursor: grabbing;
}

#tools a:hover {
    background-color: #3b3b3bb3;
}

#tools-row {
    display: flex;
    align-items: center;
}

.dot-base {
    height: 20px;
    width: 20px;
    margin-left: 0.5rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dot-pending {
    animation-name: blinkbg;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(1,0,0,1);
}


/* Media Queries */

@media only screen and (min-width: 768px) {
    #tools {
        bottom: initial;
        top: 1rem;
    }
}

/* Animations */

@keyframes blinkbg {
    from {background-color: #bbb;}
    to {background-color: green;}
}